*.tgz
*.gz
*.zip
*.tmp
*.db
bak
tmp
out
*.log.*
*.log
view.*
*.bk
old*
*.bak
tags
*.out
*.csv
.*
_*
html/
pkg/
todo.txt
done.txt
deltodo.txt
old/
*.old
Manifest.txt
Rakefile
TODO2.txt.2*
index.html
serial_numbers
report.txt
examples/ISSUES*
ISSUES
*~
