require 'rbcurse/app'

App.new do 
  header = app_header "rbcurse #{Rbcurse::VERSION}", :text_center => "My Demo", :text_right =>"New Improved!", :color => :black, :bgcolor => :white, :attr => :bold 
  message "Press F10 to exit from here, F1 for help, F2 for menu"

  stack :margin_top => 2, :margin => 5, :width => 30 do

  end # stack
end # app
